{{#md-navbar name='Comment Board' homeRoute='index'}}{{/md-navbar}}

<div class="index">
    <div class="container">
        <h3>Please leave a comment.. (be nice!)</h3>
    </div>
    <div class="container">
     {{comment-mentions}}
    </div>
</div>

